In [2]:
import pandas as pd
from datetime import datetime
from pathlib import Path
import sqlite3 as sql

# Coleta de dados do IBGE

In [3]:
# link do IBGE
url = "https://www.ibge.gov.br/explica/codigos-dos-municipios.php"

# alternativa 1
# pd.read_html(url)[19]

# alternativa 2
dadosIBGE = pd.DataFrame(pd.read_html(url, match="Municípios do Rio de Janeiro")[0])

# renomear colunas no dataframe (DF)
dadosIBGE = dadosIBGE.rename(columns={'Municípios do Rio de Janeiro':'nmMunic','Códigos':'codMunic'})

# alterando nome do index (é diferente do nome das colunas)
dadosIBGE.index.name = "idMunic"

# alterando começo do index
idInit = 1
dadosIBGE.index =  dadosIBGE.index + (idInit - dadosIBGE.index[0])

# adicionando coluna de data e hora de carga
dadosIBGE['dtCarga'] = datetime.today().strftime('%d/%m/%Y %H:%M')

In [16]:
dadosIBGE

                    nmMunic  codMunic           dtCarga
idMunic
1            Angra dos Reis   3300100  03/09/2022 09:58
2                   Aperibé   3300159  03/09/2022 09:58
3                  Araruama   3300209  03/09/2022 09:58
4                     Areal   3300225  03/09/2022 09:58
5        Armação dos Búzios   3300233  03/09/2022 09:58
...                     ...       ...               ...
88                Três Rios   3306008  03/09/2022 09:58
89                  Valença   3306107  03/09/2022 09:58
90                Varre-Sai   3306156  03/09/2022 09:58
91                Vassouras   3306206  03/09/2022 09:58
92            Volta Redonda   3306305  03/09/2022 09:58

[92 rows x 3 columns]

# CRIANDO O BANCO DE DADOS

In [103]:
endereco = Path('C:\\Users\\elias\\Downloads\\Engenharia de Dados com Python\\Bancos de Dados\\')

BDODS = endereco / "pascoaODS.db"
BDDW = endereco / "pascoaDW.db"

if endereco.exists():
    print("Endereço existe!")
    if (BDODS.exists() and BDDW.exists()):
        print("Bancos de dados já existem!")
    else:
        BDODS.touch()
        BDDW.touch()
        print("Bancos de dados acabaram de ser criados!")
else:
    print("Endereço não existe. Favor, verificar!")

Endereço existe!
Bancos de dados já existem!

# MANIPULANDO OS BANCOS DE DADOS

In [104]:
# manipulando BDODS

#conectar ao BDODS
conexaoBDODS = sql.connect(BDODS)

# criar a tabela tbLogMunic e carregar todas as colunas do DataFrame IBGE
dadosIBGE.to_sql('tbLogMunic',conexaoBDODS,if_exists='append')

# confirmar a transação
conexaoBDODS.commit()

# encerrar a conexão
conexaoBDODS.close()

print('Carga do BDODS concluída!')

Carga do BDODS concluída!

In [105]:
# manipulando o BDDW

# conectar ao BDDW
conexaoBDDW = sql.connect(BDDW)

# selecionar apenas as colunas de interesse do dataFrame
dadosIBGE = dadosIBGE[['nmMunic','codMunic']]

# criar a tabela dMunicipio e carregar os dados selecionados do DataFrame
dadosIBGE.to_sql('dMunicipio', conexaoBDDW, if_exists='replace')

# confirmar a transação
conexaoBDDW.commit()

# encerrar a conexão
conexaoBDDW.close()

print('Carga do BDDW concluída!')

Carga do BDDW concluída!

In [17]:
dadosIBGE = dadosIBGE[['nmMunic','codMunic']]
dadosIBGE

                    nmMunic  codMunic
idMunic
1            Angra dos Reis   3300100
2                   Aperibé   3300159
3                  Araruama   3300209
4                     Areal   3300225
5        Armação dos Búzios   3300233
...                     ...       ...
88                Três Rios   3306008
89                  Valença   3306107
90                Varre-Sai   3306156
91                Vassouras   3306206
92            Volta Redonda   3306305

[92 rows x 2 columns]

#